*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');
body{
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}
.area{
    width: 1040px;
    margin: 0 auto;
}
.header {
    overflow: hidden;
    background-color: rgb(121, 118, 121);
    height: 170px;
    padding-right: 10px;
}
.logo{ margin: 20px;
    float: left;
    width: 238px;
}
.logo img {
    width: 80%;
    margin-left: 65px;
    margin-bottom: 10px;
    padding: 2px;
    height: 98px;
}
.menu {
    float: right;
    width: 700px;
}
.menu ul{
    list-style: none;
    text-align: right;
    margin-top: 20px;
}
.menu ul li{
    display:inline-block;
    
}
.menu ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #333;
    font-size: 27px;
}
.menu ul li a:hover{
    background: rgb(252, 252, 252);
}
.page-banner {
    background-image: url('../assets/banner.jpg');
    height: 260px;
}
.page-banner h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    margin-left: 449px;
    background: #8383d0;
    text-transform: capitalize;
} 
.page-banner h4:hover{
    background: rgb(255, 252, 251);
}



.about {
    background: #1b7c96;
    overflow: hidden;
    height: 189px;
    padding-bottom: 20px;
    height: 518px;
}
.about-left {
    float: left;
    width: 787px;
    margin-right: 20px;
    padding: 10px;
}
.about-left h4 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 4px;
    color: rgb(250, 245, 245);
}
.about-left p {
    padding-bottom: 10px;
    float: left;
    width: 766px;
    color: #000;
    font-size: 16px;
}
.about-left a { 
    display: inline-block;
    text-transform: capitalize;
    text-decoration: navajowhite;
    color: #fff;
    background-color: tomato;
    padding: 10px 22px;
    font-style: italic;
    font-size: 14px;
    margin-left: 6px;}
    .about-left a:hover{
        background: cornflowerblue;
    }
    .about-menu {
        float: right;
        padding-right: 50px;
        margin-top: 21px;
    }
    .about-menu h4 {
        padding-left: 24px;
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 10px;
        margin-left: -13px;
        color: rgb(255, 250, 250);
        text-transform: capitalize;
        padding-top: 35px;
    }
.about-menu ul{
    list-style: none;
    padding-left: 23px;

}
.about-menu ul li {
    padding-bottom: 5px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: bold;

    background-image: url('../assets/arrow.png');
}
.about-menu ul li a{
    text-decoration: none;
    border-bottom: 1 px solid #ddd;
    color: #000;
}
 hr{
    width: 58px;
    background-color: rgb(5, 2, 2);
 }

 .about-menu ul li a:hover{
     background: rgb(255, 255, 255);
 }


 .footer {
    text-align: center;
    font-size: 14px;
    padding-top: 0px;
    /* color: #fff; */
}
 
.footer p {
    background: rgb(156 208 220 / 91%);
    height: 48px;
    font-weight: bold;
    font-size: 21px;
}
    .footer p a {
        color:tomato;
        text-decoration: none;
        border-bottom: 1 px solid #ddd;
        display: inline-block;
       
    }
    .footer p a:hover{
        background: white;
    }
   